<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEP API - VUEJS</title>

    <!-- importando vue -->
    <script src="./vue.js"></script>

</head>

<body>
    <div id="app">
        <h1>Digite o CEP:</h1>
        <input type="number" placeholder="cep" v-model="cep">
        <!-- <p>{{ cep }}</p> -->

        <div id="cardCep">
            <h2>Dados do CEP digitado: </h2>
            <ul>
                <li v-for="(item, key) in endereco">{{ key.toUpperCase() }}: {{ item }}</li>
            </ul>
        </div>
    </div>

    <script src="./script.js"></script>

</body>

</html>